<!-- <!DOCTYPE html>
<html>
<head>
  <title>All Tasks</title>
</head>
<body>
  <h1>All Tasks</h1>
  <ul>
    <% tasks.forEach(task => { %>
      <li>
        <h2><%= task.title %></h2>
        <p><%= task.description %></p>
      </li>
    <% }); %>
  </ul>
  <a href="/tasks/add">Add a Task</a>
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
  <title>All Tasks</title>
</head>
<body>
  <h1>All Tasks</h1>
  <ul>
    <% tasks.forEach(task => { %>
      <li>
        <h2><%= task.title %></h2>
        <p><%= task.description %></p>
      </li>
    <% }); %>
  </ul>
  <a href="/tasks">Add a Task</a>
</body>
</html>

